<div class="tree-wrapper">
  <p-tree
    *ngIf="treeData.length; else elseEmptyTree"
    [value]="treeData"
    [loading]="onLoading"
    selectionMode="single"
    [(selection)]="selectedFile"
    (onNodeExpand)="nodeExpand($event)"
  >
    <ng-template let-node pTemplate="default">
      <div class="tree-item" [id]="node.data.ui_id">
        <!-- <span
          class="tree-icon arrowIcon"
          (click)="toggleItem(node)"
          [ngClass]="{
            'icon-rotate': !node.expanded,
            'system-space': node.leaf
          }"
        >
          <img src="assets/TreeIcons/ArrowDown.svg" *ngIf="!node?.leaf" />
        </span> -->
        <span>Clover</span>
      </div>
    </ng-template>
  </p-tree>
  <ng-template #elseEmptyTree>
    <h3>No Tree Data Obtained</h3>
  </ng-template>
</div>
